.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  height: 60px;
background: #fff;
}

.header-container {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
border-radius: 22px;
  padding: 40px 60px;
  width: 335px;
background: #fff;
  z-index: 1000;
  position: fixed;
  top: 136px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}


.menu-item {
font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #0f0e0e;
  transition: font-weight 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
font-weight: 800;
}

@media screen and (min-width: 1440px) {
  .header {
width: 1240px;
  height: 76px;
  border-radius: 60px;
  margin-top: 20px;
  }

  .header-container {
    padding: 24px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: end;
    gap: 66px;
  }

  .navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #0f0e0e;
    transition: font-weight 0.3s ease-in-out;
  }

  .navigation-item:hover {
font-weight: 800;
  }

  .navigation-item:focus,
  .navigation-item.active {
font-weight: 800;
  }
}