.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.home-wrapper{
    margin: 120px auto 0;
    border-radius: 22px;
        padding: 42px 32px;
        width: 335px;
        height: 460px;
backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.55);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.home-title{
    font-family: "Playfair Display", sans-serif;
        font-weight: 800;
        font-size: 32px;
        line-height: 1.25;
        text-align: center;
        color: #272727;
}
.home-text{
    font-family: "Inter", sans-serif;
        font-weight: 800;
        font-size: 20px;
        line-height: 1.4;
        text-align: center;
        color: #272727;
}
@media only screen and (min-width: 1440px) {
 .home-section{
background-image: url("/img/home/desk.png");
 }
 .home-wrapper{
        width: 826px;
        height: auto;
 }
 .home-title{
    font-size: 64px;
 }
}
/* Step-by-Step */
.step-section{
    background-image: url("/img/step/mob.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
height: 990px;
}
.step-text{
    margin-top: 60px;
    margin-bottom: 40px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
}
.step-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.step-item{
    display: flex;
    align-items: center;
    gap: 7px;
}
@media only screen and (min-width: 1440px) {
.step-section {
        background-image: url("/img/step/desk.png");
        height: 700px;
    }
}
/* Puzzle Types */
.puzzle-section{
    background-image: url("/img/puzzle/mob.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
height: 850px;
}
.puzzle-list{
    margin-top: 40px;
display: flex;
flex-direction: column;
gap: 20px;
}
.puzzle-item{
    display: flex;
    align-items: center;
    gap: 7px;
}
@media only screen and (min-width: 1440px) {
.puzzle-section {
    background-image: url("/img/puzzle/desk.png");
height: 700px;
    }
.puzzle-wrapper{
    margin-top: 29px;
    margin-right: 89px;
    margin-left: auto;
    width: 554px;
}
}
/* Levels */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.level-container{
    padding: 60px 0;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 40px;
}
.btn{
    background: inherit;
    border: none;
}
.slider-1 .swiper-slide{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
        line-height: 1.5;
        text-align: center;
}
.level-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        text-align: center;
margin-top: 12px;
margin-bottom: 4px;
}
@media only screen and (min-width: 1440px) {
    .level-section{
        background-image: url("/img/level/desk.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
.level-container{
    padding-top: 100px;
    padding-bottom: 100px;
}
}
/* Gallery */
.slider-2 .swiper-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
}
@media only screen and (min-width: 1440px) {
    .gallery-section {
        background-image: url("/img/gallery/desk.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
}
/* Contact */
.contact-section{
    background-image: url("/img/contact/mob.png");
            background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
height: 500px;
}
.contact-title{
    text-align: center;
}
.contact-link{
    display: flex;
    justify-content: center;
  margin-top: 54px;
}
@media only screen and (min-width: 1440px) {
 .contact-section{
    background-image: url("/img/contact/desk.png");
 }
}
/* faq */
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 335px;
    margin: 0 auto;
    gap: 12px;
}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
}

.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
backdrop-filter: blur(22px);
    background: rgba(255, 255, 255, 0.1);
border: 1px solid #ca004a;
    border-radius: 22px;
    padding: 16px 12px;
    width: 335px;
    height: auto;
font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #272727;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ca004a;
    transition: transform 0.3s ease;
    width: 48px;
        height: 48px;
        border-radius: 24px;
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el-descr-frame {
    background: inherit;
    width: 335px;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}

.faq-acc-el.open .faq-acc-el-trigger {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.faq-acc-el.open .faq-acc-el-descr-frame {
font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    color: #272727;
    visibility: visible;
    opacity: 1;
    border: 1px solid #ca004a;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top: none;
    padding: 0 76px 16px 16px;
backdrop-filter: blur(22px);
    background: rgba(255, 255, 255, 0.1);
    width: 335px;
    max-height: 500px;
    margin-bottom: 16px;
}


@media only screen and (min-width: 1440px) {
    .faq-acc {
    width: 890px;
        margin: 0 auto;
        gap: 16px;
    }
.mob{
    display: none;
}
    .faq-acc-el-trigger {
    width: 890px;
    font-size: 22px;
    }

    .faq-acc-el-descr-frame {
    width: 890px;
    }

    .faq-acc-el.open .faq-acc-el-descr-frame {
    width: 890px;
        margin-top: -1px;
    }
}